.content-typography {

    &__large {
        font-size: 3em;
    }

    &__text {

    }

    &__link {
        color: $color-blue;
        text-decoration: underline;
    }

    &__buylink {
        font-size:2em;
        text-decoration: underline;
    }

    &__center{
        text-align: center;
    }

}