// =========================================================
// Z-INDEXES
// =========================================================

/**
 * All z-indexes at one position
 * @param $z-index
 * @example
 *   @include z-index('nav');
 */
@mixin z-index($z-index) {
    z-index: map-get($zindex-positions, $z-index);
};


// =========================================================
// OTHER MIXINS
// =========================================================

/**
 * CLEARFIX
 * @example
 *   @include clearfix;
 */
@mixin clearfix {
    display: table;
    clear: both;
    content: '';
}

/**
 * VISUALL HIDDEN (FOR SCREENREADERS)
 * @example
 *   @include visually-hidden;
 */
@mixin visually-hidden {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

/**
 * Mixin to create aspect ratio with padding-bottom-hack
 * @param $w width
 * @param $h height
 * @param $child child type
 * @example
 *   @include aspect-ratio(16,9){}
 *   @include aspect-ratio(16,9, div){}
 */

@mixin aspect-ratio($w, $h, $child: div) {

    position: relative;
    padding-bottom: percentage($h / $w);
    width: 100%;

    & > #{$child} { // sass-lint:disable-line no-combinators
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

}
