.menu{

    &__container {
        position: absolute;
        top: 0;
        color: whitesmoke;
        margin: 20px;
    }
    &__navigation{
        padding: 0;
        list-style: none;
    }
}

.menu__button {
    list-style: none;
    width: 150px;
    height: 60px;

    &--contact {
    }
    &--instagram {
    }
    &--github {
    }
}

.button__image {
    float: left;
    width: 30px;
    height: 30px;

    &--contact {
    }
    &--instagram {
    }
    &--github {
    }
}

.button__text {
    padding-top: 5px;
    float: left;
    padding-left: 10px;
    color: whitesmoke;

    &--contact {
    }
    &--instagram {
    }
    &--github {
    }
    &:hover {
        color: dimgray;
    }
}

@media (max-width: 480px) {
    .button__text {
        display: none;
    }
    .button__image {
        width: 25px;
        height: 25px;
    }
    .menu__button {
        width: 30px;
        height: 30px;
        margin-top: 15px;
    }
}