.footer{
    &__container{
        height: 10%;
        overflow: hidden;
        position: relative;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
    }
    &__button{
        border: none;
        background-color: white;
        font-size: 4em;
        & span{
            -webkit-transition: .2s,opacity .2s;
            -moz-transition: .2s,opacity .2s;
            -o-transition: .2s,opacity .2s;
            transition: .2s,opacity .2s;
        }
    }
    &__button:hover{
        font-size: 4em;
        &::before{
            opacity: 1;
            -webkit-transform: translate(0,0);
            -moz-transform: translate(0,0);
            -ms-transform: translate(0,0);
            -o-transform: translate(0,0);
            transform: translate(0,0);
            -webkit-transition-delay: .2s;
            -moz-transition-delay: .2s;
            -o-transition-delay: .2s;
            transition-delay: .2s;
        }
        & span{
            opacity: 0;
            -webkit-transition-delay: .2s;
            -moz-transition-delay: .2s;
            -o-transition-delay: .2s;
            transition-delay: .2s;
        }
    }
    &__button::before{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        content: attr(data-hover);
        -webkit-transition: .4s,opacity .6s;
        -moz-transition: .4s,opacity .6s;
        -o-transition: .4s,opacity .6s;
        transition: .4s,opacity .6s;
        opacity: 0;
        -webkit-transform: translate(0,5vh);
        -moz-transform: translate(0,5vh);
        -ms-transform: translate(0,5vh);
        -o-transform: translate(0,5vh);
        transform: translate(0,5vh);
    }
    &__button:focus {
        border: none;
        box-shadow: none;
        outline-width: 0;
    }
}

@media handheld {
    .footer__button {
        content: attr(data-hover);
    }
}