.github {
    width: 100%;
    height: 600px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    color: #FFFFFF;

    @media (max-width: $grid-md) {
        flex-direction: column;
        height: auto;
    }

    &__container {
        height: 100%;
        width: 50%;

        @media (max-width: $grid-md) {
            width: 100%;
            height: 100vh;
        }
    }

    &__contentcontainer {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #191919;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
    }

    &__avatar {
        height: 400px;
        width: 400px;
        background-size: 100% auto;
        background-repeat: no-repeat;
        filter: grayscale(100%);
        //position: absolute;
        // SAFARI
        //position: inherit;
        //position: relative;

        &--hover1{
            position: absolute;
            height: 100%;
            width: 100%;
            background-size: 100%;
            background-repeat: no-repeat;
            filter: hue-rotate(340deg);
            z-index: 2;
            opacity: 0.2;
            right: 5px;

        }
        &--hover2{
            position: absolute;
            height: 100%;
            width: 100%;
            background-size: 100%;
            background-repeat: no-repeat;
            filter: hue-rotate(190deg);
            z-index: 3;
            opacity: 0.2;
            left: 5px;
        }
        &--hovercontainer {
            position: absolute;
            height: 400px;
            width: 400px;
            opacity: 0;
            z-index:4;
            padding: 0;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            &:hover{
                opacity: 1;
            }
        }

        @media (max-width: $grid-sm) {
            width: 100%;
            margin: auto 0;

            &--hovercontainer {
                width: 100%;
                margin: auto 0;
            }

            &--hover1{
                display: none;
            }

            &--hover2{
                display: none;
            }
        }
    }

    &__icon {
        margin-top: 20px;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    &__title{
        text-align: center;
        border-bottom: solid 1px rgb(230, 230, 230);
    }

    &__stats {
        height: 20px;
        margin-top: 40px;
        margin-right: 0px;
        margin-left: 0px;
    }

    &__td{
        box-sizing: border-box;
        position: relative;

        @media (min-width: 768px) {
        width: 50%;
    }

        @media (min-width: 768px) {
        float: left;
    }

    }
}
